<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g==" crossorigin="anonymous" referrerpolicy="no-referrer" />
<div *ngIf="post1" class="container">
  <div class="card">
    <div class="card-body">
      <span>{{post1.creationDate}}</span>
      <hr>
      <h5 class="card-title">{{post1.title}}</h5>
      <p class="card-text">
        {{post1.text}}
      </p>
      <div class="row align-items-center">
        <div class="col-md-1">
          <button type="button" (click)="upvote(post1.id, 'UPVOTE')" class="fas fa-arrow-up"></button>
        </div>
        <div>
          {{post1.karma}}
        </div>
        <div class="col-md-1">
          <button type="button" (click)="downvote(post1.id, 'DOWNVOTE')" class="fas fa-arrow-down"></button>
        </div>
        <div class="col-md-1">
          <a href="#" class="btn btn-primary">{{post1.username}}</a>
        </div>
        <div class="col-md-9" *ngIf="isMyPost()">
          <button type="button" class="btn btn-danger" (click)="deletePost(post1.id)">Delete</button>
        </div>
      </div>
    </div>
  </div>
</div>