<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g==" crossorigin="anonymous" referrerpolicy="no-referrer" />
<div *ngIf="post1" class="container">
  <!-- <div class="col-md-1">
    <i title="Up Votes" ng-click="changeVote(vote, 'up')" class="fa fa-arrow-circle-up fa-2x" ng-class="{true:'up', false:''}[vote=='up']"></i>
    <br>
    <span>0</span>
    <br>
    <i title="Down Votes" ng-click="changeVote(vote, 'down')" class="fa fa-arrow-circle-down fa-2x"  ng-class="{true:'down', false:''}[vote=='down']"></i>
  </div> -->
  <div class="card">
    <div class="card-body">
      <span>{{post1.creationDate}}</span>
      <hr>
      <h5 class="card-title">{{post1.title}}</h5>
      <p class="card-text">
        {{post1.text}}
      </p>
      <div class="row align-items-center">
        <div class="col-md-1">
          <button class="fas fa-arrow-up"></button>
          <!-- <img src="assets/upvote.svg"> -->
        </div>
        <div>
          Karma:
        </div>
        <div class="col-md-1">
          <button class="fas fa-arrow-down"></button>
        </div>
        <div class="col-md-1">
          <a href="#" class="btn btn-primary">{{post1.username}}</a>
        </div>
        <div class="col-md-9" *ngIf="isMyPost()">
          <button type="button" class="btn btn-danger" (click)="deletePost(post1.id)">Delete</button>
        </div>
      </div>
    </div>
  </div>
</div>